LANGUAGES=en,ru,bg
ENABLED_ENGINES=silero,piper

DEFAULT_VOICE=aidar
SILERO_QUALITY=high

ENABLED_PIPER_VOICES_EN=alan-medium,amy-medium
ENABLED_PIPER_VOICES_RU=irina,denis
ENABLED_PIPER_VOICES_BG=dimitar-medium

DEVICE=cpu
TORCH_CPU_THREADS=0
